---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
const allPosts = await Astro.glob("./*.md");
---

<Layout title="My Blog.">
  <main>
    <svg width="200" height="200" viewBox="0 0 800 800">
      <g transform="matrix(1,0,0,1,0,0)">
        <circle
          r="50"
          cx="684"
          cy="684"
          stroke-width="4"
          stroke="#9c9c9c"
          fill="none"
          opacity="0.1"
          transform="rotate(100, 400, 400)"></circle>
        <circle
          r="62.5"
          cx="648.5"
          cy="648.5"
          stroke-width="5.5"
          stroke="#929292"
          fill="none"
          opacity="0.21250000000000002"
          transform="rotate(87.5, 400, 400)"></circle>
        <circle
          r="75"
          cx="613"
          cy="613"
          stroke-width="7"
          stroke="#878787"
          fill="none"
          opacity="0.325"
          transform="rotate(75, 400, 400)"></circle>
        <circle
          r="87.5"
          cx="577.5"
          cy="577.5"
          stroke-width="8.5"
          stroke="#7b7b7b"
          fill="none"
          opacity="0.4375"
          transform="rotate(62.5, 400, 400)"></circle>
        <circle
          r="100"
          cx="542"
          cy="542"
          stroke-width="10"
          stroke="#6e6e6e"
          fill="none"
          opacity="0.55"
          transform="rotate(50, 400, 400)"></circle>
        <circle
          r="112.5"
          cx="506.5"
          cy="506.5"
          stroke-width="11.5"
          stroke="#5f5f5f"
          fill="none"
          opacity="0.6625"
          transform="rotate(37.5, 400, 400)"></circle>
        <circle
          r="125"
          cx="471"
          cy="471"
          stroke-width="13"
          stroke="#4e4e4e"
          fill="none"
          opacity="0.775"
          transform="rotate(25, 400, 400)"></circle>
        <circle
          r="137.5"
          cx="435.5"
          cy="435.5"
          stroke-width="14.5"
          stroke="#373737"
          fill="none"
          opacity="0.8875"
          transform="rotate(12.5, 400, 400)"></circle>
        <circle
          r="150"
          cx="400"
          cy="400"
          stroke-width="16"
          stroke="#000000"
          fill="none"
          opacity="1"
          transform="rotate(0, 400, 400)"></circle>
      </g>
    </svg>
    <h1>ブログ Blog.</h1>
    {
      allPosts.map((post) => (
        <Card
          title={post.frontmatter.title}
          href={post.url!}
          body={post.frontmatter.description}
          date={new Date(post.frontmatter.date).toDateString()}
        />
      ))
    }
  </main>
</Layout>

<style>
  h1 {
    font-size: 4em;
    letter-spacing: -0.1em;
    font-weight: 600;
    color: rgb(10, 10, 10);
    margin-top: 0;
    margin-bottom: 2rem;
  }
</style>
